.NewTransaction {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  display: block;
  margin: 10px;
}

input[type="radio"] {
  margin-right: 10px;
}

.custom-datepicker {
  margin-left: 10px;
}