.Transactions {
  margin-bottom: 40px;
}

.Transactions h1 {
  margin-bottom: 40px;
}

.Transactions table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  text-align: center;
  margin-top: 40px;
}

.Transactions thead {
  background-color: #f2f2f2;
}

.Transactions th {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 2px solid #ddd;
  text-align: center;
}

.Transactions tr {
  border-bottom: 1px solid #ddd;
}

.Transactions td {
  padding: 0.5rem;
}

.Transactions tr:nth-child(even) {
  background-color: #f2f2f2;
}

.Transactions td:nth-child(1) {
  font-weight: bold;
}

.income-row {
  color: green;
}

.expense-row {
  color: red;
}